/*
Configuration file for messer.nf
*/

params {
	//Initial parameters
	assembly = ''
	contiginfo = ''
	reads = ''
	outdir = 'messer'
	
	//ASSEMBLE
	flye_read_type = '--nano-hq'
	flye_threads = 16
	flye_minoverlap = '3000'
	
	//READFILTERING
	nanoq_min_length = 1000
	nanoq_max_length = 4000
	
	//DOWNSAMPLE
	rasusa_coverage = 120
}

process {
	withName:EXTRACT {
		container = 'docker://staphb/seqtk:1.3'
	}
	withName:ALIGN {
		container = 'docker://staphb/minimap2:2.25'
	}	
	withName:READSGET {
		container = 'docker://staphb/samtools:1.17'
	}
	withName:ASSEMBLE {
		container = 'docker://staphb/flye:2.9'
	}
	withName:READFILTERING {
		container = 'docker://jimmyliu1326/nanoq:latest'
	}
	withName:DOWNSAMPLE {
		container = 'docker://staphb/rasusa:0.7.0'
	}
}

profiles {
	//standard for local
	standard {
		process {
			executor = 'local'
			cpus = 8
		}
		singularity {
			enabled = true
			autoMounts = true
			runOptions = '--cleanenv'
			runOptions = '--no-home'
			runOptions = "-B $PWD:/data"
			cacheDir = "$SINGULARITY_CACHEDIR"
		}
	}
	//sge for CDC cluster
	 sge {
	   process {
		 executor = 'sge'
		 penv = 'smp'
		 queue = 'all.q'
		 cpus = 8
	   }
	   executor {
		 queueSize = 100
		 pollInterval = '15 sec'
	   }
	   singularity {
			enabled = true
			autoMounts = true
			runOptions = '--cleanenv'
			runOptions = '--no-home'
			runOptions = "-B $PWD:/data"
			cacheDir = "$SINGULARITY_CACHEDIR"
	   }
	 }
	 //SHORT - add to profile if you want cluster short queue
	 short {
	   process {
		 queue = 'short.q'
	   }
	 }
	//GPU - add to profile if you want gpu queue
	 gpu {
	   process {
		 queue = 'gpu.q'
	   }
	 }
	//HIGHMEMORY - add to profile if you want highmem queue
	 highmem {
	   process {
		 queue = 'highmem.q'
	   }
	 }
}
